    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>O MNIE</h2>
              <br/>
                   
                <h3><a href="https://www.tiliatranslations.it/">Leggi la versione italiana</a> · <a href="https://angelatiliatranslations.github.io/englishversion/">Read the English version</a></h3>
                <br>
                <br>
                <h4>
Nazywam się Angela Brisotto, i jestem językoznawcą i tłumaczką budując mosty łączące język angielski i polski z językiem włoskim. Witam na mojej stronie internetowej! &#127861;
</h4>
                <br>
                <br>
                <p>
                    Idea tłumaczenia jako budowania trwałych i dogodnych mostów między językami i kulturami jest mi szczególnie bliska. Zbudowanie solidnego mostu wymaga nie tylko dokładności i umiejętności technicznych, ale także pewnej dozy zmysłu artystycznego. To właśnie na tych fundamentach opieram swoją działalność, w ramach której buduję mosty łączące język angielski i polski z językiem włoskim.
                </p>
                 <br>
                <p>
                    Kiedy wraz z innymi autorkami opublikowałam swój pierwszy wywiad przeprowadzony z pewną młodą, rozpoczynającą karierę artystką, wiedziałam, że aby móc przekazać zawarte w nim idee szerszemu gronu odbiorców, decydujące znaczenie miało dobre tłumaczenie. Podjęłam się więc weryfikacji tłumaczenia, dążąc do oddania zamysłu artystki w najdrobniejszych szczegółach i zapewnienia, aby jej słowa trafiły w całej swojej autentyczności do obcojęzycznych czytelników. I tak się stało.
                </p>
                 <br>
                <p>
                    Od 2019 r. pomagam klientom indywidualnym i organizacjom docierać ze słowami i ideami do odbiorców posługujących się innym językiem. Wykorzystując swoje umiejętności analityczne, precyzję i sztukę władania słowem, oferuję tłumaczenie tekstów z języka polskiego i angielskiego na język włoski, lokalizację stron internetowych z myślą o rynku włoskim, weryfikację tłumaczeń i korektę tekstów w języku włoskim, w tym tekstów 	akademickich, i transkrypcję nagrań audio i wideo w języku włoskim.<br>
                </p>
                 <br>
                <p>
                    Poza językiem włoskim, który jest moim językiem ojczystym, pracuję z językiem polskim i angielskim, a moją specjalizacją jest tłumaczenie tekstów z dziedziny sztuki, rzemiosła i ekologii.
                </p>
                 <br>
                <p>
                    Ukończyłam magisterskie studia filologiczne oraz studia licencjackie w zakresie językoznawstwa i kulturoznawstwa na Uniwersytecie Ca’ Foscari w Wenecji.
                </p>
                 <br>
                <p>
                    Dzięki wspaniałym osobom, z którymi miałam okazję pracować, oraz odbytym studiom lingwistycznym i literaturoznawczym, nauczyłam się przywiązywać większą wagę do jakości, a nie do ilości, co znajduje swoje odzwierciedlenie w moim podejściu do pracy tłumacza. Nierzadko osoby, z którymi współpracowałam w ostatnich latach, kontaktują się ze mną ponowne, mówiąc: „Dziękuję za wspaniale wykonaną usługę. Cieszę się, że możemy znów współpracować”.
                </p>
                 <br>
                <p>
                    Służę pomocą klientom prywatnym, firmom i organizacjom. Jeśli chcesz skorzystać z moich usług, wyślij zapytanie w wiadomości e-mail. Powierzając mi swoje cenne słowa, oddajesz je w ręce eksperta. Z przyjemnością je przeczytam i wezmę się do pracy! 
                </p>
                 <br>
                  
            
                
                
       
                <br/>
                <div align='center'>
                    <img src="./img/about me.jpg" alt="Angela">
                </div>
                <br>
                
                
                <br>

<h3>
Angela Brisotto | Językoznawca i dostawca usług językowych
</h3>
                <br>
<h4>W SKRÓCIE</h4>
<br>

<p>
<strong>Język ojczysty: </strong><em>Włoski (Włochy)</em>
</p>
<p>
<strong>Kombinacje: </strong><em>Angielski>Włoski, Polski>Włoski</em>
</p>
<p>
<strong>Specjalności: </strong><em>sztuka, rzemiosło, ekologia, reklama, marketing, moda</em>
</p>
<p>
<strong>Poświadczenia:</strong> <em><a href="https://cfcdn.proz.com/certificates/pro/pro_certificate_2997713.jpg">ProZ.com Certified PRO Translator</a></em>
</p>
                <br>
                <h4>WYKSZTAŁCENIE</h4>
                <br>
                <p>
                Magister - European, American and Postcolonial Languages and Literatures, Uniwersytet Ca’ Foscari
                </p>
                <p>
                Licencjat - Language, Civilisation and the Science of Language, Uniwersytet Ca’ Foscari
                </p>
                <br>
                <h4>PUBLIKACJE</h4>
                <br>
<p>
                <a href="https://brooklynrail.org/contributor/ANGELA-BRISOTTO">Contributor to The Brooklyn Rail</a>
</p>
             
                <p>
                    <a href="https://brooklynrail.org/2021/07/art/Giuseppe-Penone-with-Francesca-Pietropaolo-and-Alexis-Dahan">Translations for The Brooklyn Rail</a>
                </p>
                
                <br>
                <h4>WYDARZENIA</h4>
                <br>
<p>
Grudzień 2021: <a href="https://www.proz.com/powwow/7369">Un tè tra traduttori. Edizione delle feste</a>
</p>
<p>
Październik 2021: <a href="https://www.proz.com/powwow/7357">Un tè tra traduttori</a>
</p>
                <br/>
               
              </div>
        </div>
       
    </section>


